<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <div>
        <h3 th:text="${title}"></h3>

        <a th:href="@{/users/form}" th:text="'Crear user (+)'"></a>
        <div th:text="'No hay usuarios en el sistema'" th:if="${#lists.isEmpty(users)}"></div>

        <table th:if="${not #lists.isEmpty(users)}">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>email</th>
                <th>Created At</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.createdAt}"></td>
                <td><a th:href="@{/users/form/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/users/delete/} + ${user.id}" onclick="return confirm('Esta seguro que desea eliminar?')">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>